@{
    ViewBag.Title = "Home Page";
}

<head>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- css -->

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="animate.min.css">

</head>

<header class="masthead">
    <div class="overlay">
        <div class="container">


            <h1 class="titulo">BILLY THE PRINT</h1>
            <h3 class="titulo">¡Ropita bien che(eeeeee)vere!</h3>
        </div>
    </div>
</header>
<br />
<section>
    <div class="container">
       <!-- <div class="row align-items-center">-->
            <div class="col-md-6 order-2" >
                <div class="p-5">

                    <img  src="~/Content/imagenes/magali.jpg" />
                </div>
            </div>
            <div class="col-md-6 order-1">
                <div class="p-5" style="padding-left:10px;">
                    <h2 class="nosotros">MAGALI VELASQUEZ. Madre de Vectores</h2>
                    <p>Diseñadora gráfica. Me encargo de diseñar las estampas y traducir tus pedidos a modo vector. Fundamentalista de  la Coca Cola con limón. El sol y el pollo son mi criptonita </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6" style="padding-left:40px;">
                <div class="p-5">
                    <h2 class="nosotros">MARTIN GONZALVO. Padre de Ploteados</h2>
                    <p>Social creative. Estampa lo que le pongas adelante. Las líneas de código lo emocionan mucho. Su fuerte también es el rugby</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-5"> <img src="~/Content/imagenes/martin.jpg" />
                    
                </div>
            </div>
        </div>
    </div>
</section>




<br />

<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <h2 class="titulo2">Además de estampar, también diseñamos: </h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">

                                <img src="~/Content/imagenes/portfolio-1.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img src="~/Content/imagenes/portfolio-2.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img src="~/Content/imagenes/portfolio-3.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <img src="~/Content/imagenes/portfolio-4.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="#" class="btn btn-dark">Ver más</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<aside class="bg-faded text-white">
    <div class="container text-center">
        <h3>Encontranos en</h3>
        
    </div>
</aside>


<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.2871236085034!2d-58.556683784559965!3d-34.64745108044817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7dff8c22f4b%3A0xcf56e25a131d6003!2sBulnes+166%2C+B1704FYD+Ramos+Mej%C3%ADa%2C+Buenos+Aires%2C+Argentina!5e0!3m2!1sen!2sus!4v1512155994243" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
